Rcity/.bundle/
Rcity/log/*.log
Rcity/pkg/
Rcity/spec/dummy/db/*.sqlite3
Rcity/spec/dummy/log/*.log
Rcity/spec/dummy/tmp/
Rcity/spec/dummy/.sass-cache
Rcompany/.bundle/
Rcompany/log/*.log
Rcompany/pkg/
Rcompany/spec/dummy/db/*.sqlite3
Rcompany/spec/dummy/log/*.log
Rcompany/spec/dummy/tmp/
Rcompany/spec/dummy/.sass-cache
Rcargo/.bundle/
Rcargo/log/*.log
Rcargo/pkg/
Rcargo/spec/dummy/db/*.sqlite3
Rcargo/spec/dummy/log/*.log
Rcargo/spec/dummy/tmp/
Rcargo/spec/dummy/.sass-cache
Rtruck/.bundle/
Rtruck/log/*.log
Rtruck/pkg/
Rtruck/spec/dummy/db/*.sqlite3
Rtruck/spec/dummy/log/*.log
Rtruck/spec/dummy/tmp/
Rtruck/spec/dummy/.sass-cache
Rtheme/.bundle/
Rtheme/log/*.log
Rtheme/pkg/
Rtheme/spec/dummy/db/*.sqlite3
Rtheme/spec/dummy/log/*.log
Rtheme/spec/dummy/tmp/
Rtheme/spec/dummy/.sass-cache
Ruser/.bundle/
Ruser/log/*.log
Ruser/pkg/
Ruser/spec/dummy/db/*.sqlite3
Ruser/spec/dummy/log/*.log
Ruser/spec/dummy/tmp/
Ruser/spec/dummy/.sass-cache
Rforum/.bundle/
Rforum/log/*.log
Rforum/pkg/
Rforum/spec/dummy/db/*.sqlite3
Rforum/spec/dummy/log/*.log
Rforum/spec/dummy/tmp/
Rforum/spec/dummy/.sass-cache
Rmain/.bundle/
Rmain/log/*.log
Rmain/pkg/
Rmain/spec/dummy/db/*.sqlite3
Rmain/spec/dummy/log/*.log
Rmain/spec/dummy/tmp/
Rmain/spec/dummy/.sass-cache


