Rcity/.bundle/
Rcity/log/*.log
Rcity/pkg/
Rcity/test/dummy/db/*.sqlite3
Rcity/test/dummy/log/*.log
Rcity/test/dummy/tmp/
Rcity/test/dummy/.sass-cache
Rcompany/.bundle/
Rcompany/log/*.log
Rcompany/pkg/
Rcompany/test/dummy/db/*.sqlite3
Rcompany/test/dummy/log/*.log
Rcompany/test/dummy/tmp/
Rcompany/test/dummy/.sass-cache
Rcargo/.bundle/
Rcargo/log/*.log
Rcargo/pkg/
Rcargo/test/dummy/db/*.sqlite3
Rcargo/test/dummy/log/*.log
Rcargo/test/dummy/tmp/
Rcargo/test/dummy/.sass-cache
Rtruck/.bundle/
Rtruck/log/*.log
Rtruck/pkg/
Rtruck/test/dummy/db/*.sqlite3
Rtruck/test/dummy/log/*.log
Rtruck/test/dummy/tmp/
Rtruck/test/dummy/.sass-cache
Rtheme/.bundle/
Rtheme/log/*.log
Rtheme/pkg/
Rtheme/test/dummy/db/*.sqlite3
Rtheme/test/dummy/log/*.log
Rtheme/test/dummy/tmp/
Rtheme/test/dummy/.sass-cache
Ruser/.bundle/
Ruser/log/*.log
Ruser/pkg/
Ruser/test/dummy/db/*.sqlite3
Ruser/test/dummy/log/*.log
Ruser/test/dummy/tmp/
Ruser/test/dummy/.sass-cache
Rforum/.bundle/
Rforum/log/*.log
Rforum/pkg/
Rforum/test/dummy/db/*.sqlite3
Rforum/test/dummy/log/*.log
Rforum/test/dummy/tmp/
Rforum/test/dummy/.sass-cache
Rmain/.bundle/
Rmain/log/*.log
Rmain/pkg/
Rmain/test/dummy/db/*.sqlite3
Rmain/test/dummy/log/*.log
Rmain/test/dummy/tmp/
Rmain/test/dummy/.sass-cache


