
<ul class="nav nav-tabs">

	 <li><%=link_to t("stock_trucks.basic_profile"),truckssearch_path,:html=>{"data-toggle"=>"tab"}%></li>
  <li><%=link_to t("stock_trucks.contact"),truckssearch_path,:html=>{"data-toggle"=>"tab"}%></li>


  <li><%=link_to t("stock_trucks.truck_picture"),stock_trucks_path,:html=>{"data-toggle"=>"tab"}%></li>

  <li><%=link_to t("stock_trucks.dingwei"),trucks_path,:html=>{"data-toggle"=>"tab"}%></li>

  
</ul>