<!DOCTYPE html>
<html>
<head>
  <title>Rcargo</title>
  <%= stylesheet_link_tag    "rcargo/application", :media => "all" %>
  <%= javascript_include_tag "rcargo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
