<h1>Editing cpanel_cargo_big_category</h1>

<%= render 'form' %>

<%= link_to 'Show', cpanel_cargo_big_category_path(@cpanel_cargo_big_category) %> |
<%= link_to 'Back', cpanel_cargo_big_categories_path %>
