.cargos-controller .region_navi{
	margin-top: 10px;
}
.cargos-controller .province-nav a{
display: inline-block;
/*width:40px;*/
 margin:0px 2px 2px 0px;

}

/* a:visited { color:#2C64D7;}
  a:visited { color: #0069D6; text-decoration: none; }*/
  a:visited { color: #0069D6; text-decoration: none; }
  a:visited.btn-primary {color:white;}
