<span class="row">
  <a  class="span3" href='/ruser'>user</a>
<a  class="span3" href='/rforum/rforum/routenav'>all route nav</a>
<a  class="span3" href='/rforum/rforum/topicnav'>topicnav</a>
<a  class="span3" href='/rforum/rforum/nodenav'>nodenav</a>
<a  class="span3" href='/rforum/rforum/cpanelnav'>cpanelnav</a>
</span>
<h2>shortcut</h2>
<span>
  <a  class="span3"  href="/rforum/topics">cpanelnav</a>

</span>