
<table class='table'>
<tr><td><a href='/rforum/nodes'>nodes</a></td><td>nodes</td><td>GET</td><td>/nodes(.:format)</td><td>rforum/nodes#index</td></tr>
<tr><td><a href='rforum/nodes#create'>POST</a></td><td>POST</td><td>/nodes(.:format)</td><td>rforum/nodes#create</td><td></td></tr>
<tr><td><a href='/rforum/nodes/new'>new_node</a></td><td>new_node</td><td>GET</td><td>/nodes/new(.:format)</td><td>rforum/nodes#new</td></tr>
<tr><td><a href='/rforum/nodes/:id/edit'>edit_node</a></td><td>edit_node</td><td>GET</td><td>/nodes/:id/edit(.:format)</td><td>rforum/nodes#edit</td></tr>
<tr><td><a href='/rforum/nodes/:id'>node</a></td><td>node</td><td>GET</td><td>/nodes/:id(.:format)</td><td>rforum/nodes#show</td></tr>
<tr><td><a href='rforum/nodes#update'>PUT</a></td><td>PUT</td><td>/nodes/:id(.:format)</td><td>rforum/nodes#update</td><td></td></tr>
<tr><td><a href='rforum/nodes#destroy'>DELETE</a></td><td>DELETE</td><td>/nodes/:id(.:format)</td><td>rforum/nodes#destroy</td><td></td></tr>
<tr><td><a href='rforum/topics#node'>node_topics</a></td><td>node_topics</td><td>/topics/node:id(.:format)</td><td>rforum/topics#node</td><td></td></tr>
<tr><td><a href='rforum/topics#node_feed'>feed_node_topics</a></td><td>feed_node_topics</td><td>/topics/node:id/feed(.:format)</td><td>rforum/topics#node_feed</td><td></td></tr>
<tr><td><a href='/rforum/cpanel/nodes'>cpanel_nodes</a></td><td>cpanel_nodes</td><td>GET</td><td>/cpanel/nodes(.:format)</td><td>rforum/cpanel/nodes#index</td></tr>
<tr><td><a href='rforum/cpanel/nodes#create'>POST</a></td><td>POST</td><td>/cpanel/nodes(.:format)</td><td>rforum/cpanel/nodes#create</td><td></td></tr>
<tr><td><a href='/rforum/cpanel/nodes/new'>new_cpanel_node</a></td><td>new_cpanel_node</td><td>GET</td><td>/cpanel/nodes/new(.:format)</td><td>rforum/cpanel/nodes#new</td></tr>
<tr><td><a href='/rforum/cpanel/nodes/:id/edit'>edit_cpanel_node</a></td><td>edit_cpanel_node</td><td>GET</td><td>/cpanel/nodes/:id/edit(.:format)</td><td>rforum/cpanel/nodes#edit</td></tr>
<tr><td><a href='/rforum/cpanel/nodes/:id'>cpanel_node</a></td><td>cpanel_node</td><td>GET</td><td>/cpanel/nodes/:id(.:format)</td><td>rforum/cpanel/nodes#show</td></tr>
<tr><td><a href='rforum/cpanel/nodes#update'>PUT</a></td><td>PUT</td><td>/cpanel/nodes/:id(.:format)</td><td>rforum/cpanel/nodes#update</td><td></td></tr>
<tr><td><a href='rforum/cpanel/nodes#destroy'>DELETE</a></td><td>DELETE</td><td>/cpanel/nodes/:id(.:format)</td><td>rforum/cpanel/nodes#destroy</td><td></td></tr>
<tr><td><a href='/rforum/cpanel/site_nodes'>cpanel_site_nodes</a></td><td>cpanel_site_nodes</td><td>GET</td><td>/cpanel/site_nodes(.:format)</td><td>rforum/cpanel/site_nodes#index</td></tr>
<tr><td><a href='rforum/cpanel/site_nodes#create'>POST</a></td><td>POST</td><td>/cpanel/site_nodes(.:format)</td><td>rforum/cpanel/site_nodes#create</td><td></td></tr>
<tr><td><a href='/rforum/cpanel/site_nodes/new'>new_cpanel_site_node</a></td><td>new_cpanel_site_node</td><td>GET</td><td>/cpanel/site_nodes/new(.:format)</td><td>rforum/cpanel/site_nodes#new</td></tr>
<tr><td><a href='/rforum/cpanel/site_nodes/:id/edit'>edit_cpanel_site_node</a></td><td>edit_cpanel_site_node</td><td>GET</td><td>/cpanel/site_nodes/:id/edit(.:format)</td><td>rforum/cpanel/site_nodes#edit</td></tr>
<tr><td><a href='/rforum/cpanel/site_nodes/:id'>cpanel_site_node</a></td><td>cpanel_site_node</td><td>GET</td><td>/cpanel/site_nodes/:id(.:format)</td><td>rforum/cpanel/site_nodes#show</td></tr>
<tr><td><a href='rforum/cpanel/site_nodes#update'>PUT</a></td><td>PUT</td><td>/cpanel/site_nodes/:id(.:format)</td><td>rforum/cpanel/site_nodes#update</td><td></td></tr>
<tr><td><a href='rforum/cpanel/site_nodes#destroy'>DELETE</a></td><td>DELETE</td><td>/cpanel/site_nodes/:id(.:format)</td><td>rforum/cpanel/site_nodes#destroy</td><td></td></tr>
</table>