<!DOCTYPE html>
<html>
<head>
  <title>Rforum</title>
  <%#= stylesheet_link_tag    "rtheme/application", :media => "all" %>
  <%= javascript_include_tag "rforum/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render "rforum/rforum/debug_nav"%>
<%= yield %>

</body>
</html>
