<!DOCTYPE html>
<html>
<head>
  <title>Rtruck</title>
  <%= stylesheet_link_tag    "rtruck/application", :media => "all" %>
  <%= javascript_include_tag "rtruck/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
