<%#coding: utf-8%>


  <div class="yellowpage">



      <h4>站内企业</h3>

        <%@companies.each do |company|%>
        <span class="span3"><%=link_to company.name,company_path(company) %></span>
        <%end%>
 


  </div>

