<!DOCTYPE html>
<html>
<head>
  <title>Rcity</title>
  <%= stylesheet_link_tag    "rcity/application", :media => "all" %>
  <%= javascript_include_tag "rcity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
