<div class="totals box">
    <h2><%= t("common.statics")%></h2>
    <ul>
        <li>社区会员: <%= Ruser::User.count %> 人</li>
        <li>贴子数: <%= Rforum::Topic.count %> 个</li>
        <li>回贴数: <%= Rforum::Reply.count %> 条</li>
    </ul>
</div>
