body .navbar {
  // Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
  *position: relative;
  *z-index: 2;

  overflow: visible;
 // margin-bottom: @baseLineHeight;
 margin-bottom:0px;
}

.topbar { position: static; margin-bottom:20px;}